@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0px 20px;  
    background: #fff;
}
.text-black{
    color: #000;
}
.text-white{
    color: white;
}
.bg-aqua{
    background: #00D285;
}
.bg-light-aqua{
    background: #EBFAF4;
}
.bg-black{
    background: #000;
}
.bg-white{
    background: #fff;
}
.bg-light-white{
    background: #F2F4FA;
}
.br-10{
    border-radius: 10px;
}
.hero{
    position: relative;
    width: 100%;
    display: flex;
}
header{
    position: absolute;
    top: 30px;
    right: 130px;
    z-index: 4;
}
nav{
    padding: 10px 5px;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
        font-weight: 600;
    font-size: 18px;  

}
.hero-container{
    width: 100%;
    max-width: 995px;
    background: #000;
    color:#fff;
    height: 700px;
}
.hero-content{
    padding: 200px 0px 0px 100px;
    width: 70%;
}
.green-div-1{
    height: 460px;
    width: 322px;
    background:#00D285;
    position:absolute;
    top: 0;
    right: 10px;
    border-bottom-right-radius: 15px;
}
.green-div-2{
    height: 400px;
    width: 350px;
    background:#00D285;
    position: absolute;
    top: 340px;
    right: 290px;
    border-radius: 15px;
}
.message-div{
    background: #00D285;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 78px;
    border-radius: 50%;
    border-top-right-radius: 0%;
}

.hero-heading h1{
font-size: 60px;
line-height: 1;
}
.hero-para p{
line-height: 2;
font-weight: 500;
}
.hero-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 0px ;
}
.hero-btn a{
    text-decoration: none;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 28px;
    width: 200px;
    text-align: center;
}


.hero-image{
    position: absolute;
    top: 150px;
    right: 78px;
}
.hero-image img{
    object-fit: cover;
    border-radius: 15px 0px 15px 15px;
}
.service-container{
    display: flex;
        align-items: center;
        justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    padding: 200px 0px 50px 0px  ;
}
.service-image{
    padding: 40px 20px 0px 20px;
}
.service-image img{
    height: 540px;
    max-width: 480px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.service-content{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}
.service-heading h1{
    font-size: 45px;
    font-weight: 600;
}
.service-para p{
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0px 20px 0px ;
}
.service-name{
    display: flex;
    flex-direction: column;
}
.service-detail{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px 0px;
}

.service-detail-content h4{
    font-size: 18px;
}
.service-detail-content p{
    line-height: 2.5;
}
.service-detail-img img{
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
}
.partnership{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}
.partnership-img{
    width: 620px;
    height: 600px;
}
.partnership-img img{
    position: absolute;
    top: 9%;
    left: 3%;
}
.partnership-content{
    display: flex;
    flex-direction: column;
    padding: 20px 50px 20px 0px ;
}

.partnership-heading h1{
    font-size: 45px;
    font-weight: 600;
    font-family: sans-serif;
    margin: 10px 0px 40px 0px ;
    position: relative;
    z-index: 2;
}
.partnership-para p{
    font-size: 16px;
    line-height: 2.5;
    position: relative;
    z-index: 2;
}
.partnership-svg svg{
    position: absolute;
    top: 10px;
    right: 120px;
}
.testimonial{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 100px 0px 150px 0px;
    position: relative;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    column-gap: 30px;
}
.testimonial-heading{
    display: flex;
    align-items: center;
    position: absolute;
    top: 24%;
    left: 10%;
}
.testimonial-heading-bottom{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.testimonial-heading-2{
    position: absolute;
    top: 32%;
    left: 10%;
    font-size: 20px;
    font-weight: 400;
}
.testimonial-heading-bottom .line{
    height: 3px;
    width: 60px;
    border-radius: 5px;
}
.testimonial-heading .line{
    height: 3px;
    width: 60px;
    border-radius: 5px;
}
.testimonial-heading h1{
    font-size: 30px;
    font-weight: 600;
}
.testimonial-card{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-left: 100px;
}
.card-data{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    z-index: 2;
}
.card-data .data-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.shadow-card{
    height: 215px;
    width: 430px;
    background: #e1e1e1;
    border-radius: 15px;
    position: absolute;
    right: -5%;
    top: 30%;

}
.slide-icons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: -25%;
    top: 30%;
    z-index: 4;
}
.slide-icons .arrow-icon{
    height: 40px;
    width: 40px;
    border: 1px solid #00D285;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.arrow-icon:hover{
    background: #fff;
}


.quality-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px 0px 20px ;
}
.quality-heading h1{
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 0px;
    text-align: center;
}
.quality-heading p{
    font-size: 16px;
    font-weight: 500;
}
.quality-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    width: 100%;
    gap: 10px;
    margin-top: 50px;
}
.card-content{
    display: flex;
    flex-direction: row;
    height: 280px;
    width: 370px;
    padding: 20px;
    background: #F9FDFC;
    gap: 10px;
    border-radius: 10px;
}
.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-icon svg{
    margin-top: -100px;
}
.card-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-heading h1{
    margin:10px 0px;
    text-align: left;
}

.card-heading p{
    line-height: 2.5;
    font-size: 14px;
    text-align: left;
}

.ideal-level{
    padding-top: 100px;
}
.ideal-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 0px;
    background: #EBFAF4;
}
.ideal-content{
    display: flex;
    flex-direction: column;
}
.ideal-content h1{
    font-size: 45px;
    font-weight: 600;
}
.ideal-content h2{
    color: #999;
    font-weight: 500;
}
footer{
    width: 100%;
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    height: 70vh;
}
.footer-container{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.ft-head{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px 20px 0px;
}
.quick-links{
    display: flex;
    flex-direction: column;
}
.quick-links h2{
    color: #fff;
    margin-bottom: 20px;
}
.quick-links a{
    text-decoration: none;
    color: #999;
    padding-left:10px ;
}
.quick-links a:hover{
    color: #fff;
}
.social-links{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.social-links p{
    height: 35px;
    width: 35px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-links i{
    color: #fff;
}
.information{
    color: #fff;
    margin-top: 10px;
}
.information i{
    margin-right:7px ;
}

.information span{
    color: #00D285;
}
.information strong{
    margin-right:5px ;
}
.ft-logo-div{
    display: flex;
    justify-content: end;
    padding-right: 18%;
}
.ft-logo{
    display: flex;
    flex-direction: column;
    position: relative;
    color: #00D285;
}
.ft-logo-svg{
 position: absolute;
 top: -70%;
 left: -20%;
}
.ft-logo-name h3{
    font-size: 2rem;
}
.ft-logo-name p{
    font-size: 1.2rem;
    margin-top: -10px;
}


.ft-bottom{
    display: flex;
    justify-content: space-between;
}
.ft-bottom-right{
    flex: 1;
    position: relative;
}

.ft-bottom-left{
    display: flex;
    align-items: end;
    padding-left: 80px;
    color: #fff;
}


.ft-message-div{
    background: #EBFAF4;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-top-right-radius: 0%;
}